USE [Encode]
GO
/****** Object:  Table [dbo].[Suscripcion]    Script Date: 03/09/2021 17:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suscripcion](
	[IdAsociacion] [int] IDENTITY(1,1) NOT NULL,
	[IdSuscriptor] [int] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[FechaFin] [date] NULL,
	[MotivoFin] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsociacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suscriptor]    Script Date: 03/09/2021 17:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suscriptor](
	[IdSuscriptor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[NumeroDocumento] [int] NOT NULL,
	[TipoDocumento] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](12) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSuscriptor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [Suscripcion_Suscriptor] FOREIGN KEY([IdSuscriptor])
REFERENCES [dbo].[Suscriptor] ([IdSuscriptor])
GO
ALTER TABLE [dbo].[Suscripcion] CHECK CONSTRAINT [Suscripcion_Suscriptor]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarSuscriptor]    Script Date: 03/09/2021 17:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ActualizarSuscriptor]
@Nombre varchar(40),
@Apellido varchar (40),
@NumeroDocumento int,
@TipoDocumento varchar(40),
@Direccion varchar (60),
@Telefono varchar(15),
@Email varchar(50),
@NombreUsuario varchar (30),
@Contraseña varchar(40)
as
update Suscriptor set Nombre = @Nombre, Apellido = @Apellido, Direccion = @Direccion, Telefono = @Telefono, Email = @Email, NombreUsuario= @NombreUsuario, Password = @Contraseña 
where NumeroDocumento = @NumeroDocumento and TipoDocumento = @TipoDocumento
GO
/****** Object:  StoredProcedure [dbo].[BuscarSuscriptor]    Script Date: 03/09/2021 17:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BuscarSuscriptor]
@tipoDocumento varchar(20),
@NumeroDoc int
as
Select * from Suscriptor
where TipoDocumento = @tipoDocumento and NumeroDocumento = @NumeroDoc
GO
/****** Object:  StoredProcedure [dbo].[registrarSuscripcion]    Script Date: 03/09/2021 17:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[registrarSuscripcion]
@idSuscriptor int


as
insert into Suscripcion (IdSuscriptor,FechaAlta,FechaFin,MotivoFin)
values (@idSuscriptor,GETDATE(),null,null)
GO
/****** Object:  StoredProcedure [dbo].[registrarSuscriptor]    Script Date: 03/09/2021 17:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[registrarSuscriptor]
@Nombre varchar(40),
@Apellido varchar (40),
@NumeroDocumento int,
@TipoDocumento varchar(40),
@Direccion varchar (60),
@Telefono varchar(40),
@Email varchar(50),
@NombreUsuario varchar (30),
@Contraseña varchar(40)
as
insert into Suscriptor (Nombre,Apellido,NumeroDocumento,TipoDocumento,Direccion,Telefono,Email,NombreUsuario,Password)
values (@Nombre,@Apellido,@NumeroDocumento,@TipoDocumento,@Direccion,@Telefono,@Email,@NombreUsuario,@Contraseña)
GO
